<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" shutdownHook="disable"  monitorInterval="30">

	<!-- DEBUG < INFO < WARN < ERROR < FATAL -->

	<!-- Se você configura para WARN, somente será enviado mensagem igual ou 
		acima de WARN. Quem é maior que WARN? (ERROR) -->
	<Properties>
		<Property name='LOG_DIR'>${sys:user.home}/secitec/logs</Property>
		<Property name="PATTERN">%d %-5p [%c] %m%n</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>

		<RollingFile name="File" fileName="${LOG_DIR}/secitec.log"
			ignoreExceptions="false" filePattern="${LOG_DIR}/secitec-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="${PATTERN}" />

			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<root level="INFO">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</root>

		<logger name="br.com.simetrya" level="DEBUG" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</logger>

		<logger name="org.hibernate" level="DEBUG" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</logger>
	</Loggers>
</Configuration>